<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pm.bunkmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubjectList" />
        <activity android:name=".FeedTimetable" />
        <activity android:name=".SlotDialog" />
        <activity android:name=".About" />
        <activity android:name=".DaysTab" />
        <activity android:name=".Stats" />
        <activity android:name=".StartDate" />
        <activity android:name=".NewOrImport" />
        <activity android:name=".MainTimeTable" />
        <activity android:name=".MainActivity1" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

    </application>

</manifest>